<!DOCTYPE html>
<html ng-app="blog">
<head>
<meta charset="UTF-8">
<title>Angularjs Demo</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">
	
<link rel="stylesheet" href="css/blog.css" />

<!-- Angularjs -->	
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

<script src="js/blog.js"></script>
</head>
<body ng-controller="BlogController as blog">
	<h2>Angularjs Demo - A blog page</h2>
	<h3>Today is {{currentDate | date:'yyyy-MM-dd'}}</h3>
	<hr/>
	<div ng-controller="PostController as post">
		<div ng-repeat="article in post.articles" ng-show="article.isPublished">
			<h4>{{article.title}}</h4>
			<p><em>Posted by: {{article.author}}, Posted date: {{article.date}}</em></p>
			<p>{{article.content}}</p>
			
			<!-- Tabs -->
			<section ng-controller="PanelController as panel">
				<ul class="nav nav-pills">
					<li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Statistic</a></li>
					<li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Comments</a></li>
				</ul>
				<div class="panel" ng-show="panel.isSelected(1)">
					<h4>Statistic</h4>
					<p>Number of visits: {{article.noOfVisits}}</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(2)">
					<h4>Comments</h4>
					<blockquote ng-repeat="comment in article.comments">
						<b>{{comment.subject}}</b>
						{{comment.body}}
						- <cite>{{comment.author}}</cite>
					</blockquote>
					<div class="col-xs-12">
						<form class="col-xs-4" name="commentForm" ng-controller="CommentController as commentCtrl"
							ng-submit="commentForm.$valid && commentCtrl.addComment(article)" novalidate>
							<blockquote>
								<b>{{commentCtrl.comment.subject}}</b>
								{{commentCtrl.comment.body}}
								<cite>- {{commentCtrl.comment.author}}</cite>
							</blockquote>
							<fieldset class="form-group">
								<input class="form-control" type="text" ng-model="commentCtrl.comment.subject" required/>
							</fieldset>
							<fieldset class="form-group">
								<textarea class="form-control" ng-model="commentCtrl.comment.body" required></textarea>
							</fieldset>
							<fieldset class="form-group">
								<input class="form-control" type="email" ng-model="commentCtrl.comment.author" required />
							</fieldset>
							<fieldset class="form-group">
								<input class="btn btn-primary pull-right" type="submit" value="Submit" />
							</fieldset>
							<div>commentForm is {{commentForm.$valid}}</div>
						</form>
					</div>
				</div>
			</section>
			<!-- Tabs End -->
			<hr/>
		</div>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
		integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
		crossorigin="anonymous"></script>
</body>
</html>